<dl class="summary">
  <dt>Plan</dt>
  <dd>Huge</dd>

  <dt>Created at</dt>
  <dd><%= owner.created_at %></dd>
</dl>

<h4>Credit Card</h4>
<dl class="summary">
  <dt>Owner</dt>
  <dd>Sven Fuchs</dd>

  <dt>Number</dt>
  <dd>xxx-xxx-xxx-xxx</dd>
</dl>


<h4>Billing Address</h4>
<dl class="summary">
  <dt>Address</dt>
  <dd>Prinzessinnen Str 21</dd>

  <dt>Zip/City</dt>
  <dd>10969 Berlin</dd>
</dl>
