<div id="search_box"></div>

<ul class="tabs">
  <li id="tab_accounts" class="active">
    <h5><a href="#">Accounts</a></h5>
    <div class="tab"></div>
  </li>
</ul>

<ul id="repositories">
  <% owners.each do |owner| %>
    <li class="repository">
      <div class="wrapper">
        <%= link_to owner.name || owner.login, accounts_path(owner.login) %>
        <p class="summary">
          <span class="duration_label">Repositories:</span>
          25
          <span class="finished_at_label">Plan:</span>
          Huge
        </p>
        <span class="indicator"></span>
      </div>
    </li>
  <% end %>
</ul>
