<p>
  <%= link_to 'Your profile', profile_path %>
</p>

<h2>Repositories</h2>

<ul>
  <% owners.each do |owner| %>
    <li>
      <%= link_to owner.name || owner.login, profile_repositories_path(owner.login) %>
    </li>
  <% end %>
</ul>
