<p class="tip">
  <%= raw t 'profiles.show.message.your_repos' %>
  <%= raw t :repos_synced, :type => sync_type, :scope => 'profiles.show.message', :default => '' %>
</p>

<div id="service_hooks">
</div>
