<p class="notice">
  <%= raw t '.messages.notice' %>
</p>

<p class="tip">
  <%#= raw t 'profiles.show.message.your_repos' %>
  <a href="http://about.travis-ci.org/docs/user/build-configuration/"><%#= raw t 'profiles.show.message.config' %></a>.
</p>


