<h4><%= t '.your_repos' %></h4>

<p class="tip">
  <%= raw t '.message.your_repos' %>
  <a href="http://about.travis-ci.org/docs/user/build-configuration/"><%= raw t '.message.config' %></a>.
</p>

<div id="service_hooks">
</div>
