<%- content_for(:body_id, 'profile') -%>

<h4><%= t 'profiles.show.your_repos' %></h4>

<p class="tip">
  <%= raw t 'profiles.show.message.your_repos' %>
  <a href="http://about.travis-ci.org/docs/user/build-configuration/"><%= raw t 'profiles.show.message.config' %></a>.
</p>

<div id="service_hooks">
</div>
