<% content_for(:body_id, 'empty') %>

<% content_for(:head) do %>
  <script>
    var poll = function() {
      $.get('/profile', function(user) {
        if(user.is_syncing == 'f') {
          user.is_syncing = false;
        }
        if(user.is_syncing) {
          setTimeout(poll, 3000);
        } else {
          window.location = '/profile';
        }
      });
    }
    $('document').ready(poll);
  </script>
<% end %>

<h2>Please hold on ...</h2>
<p>We are synchronizing your data from GitHub.</p>

