.Gemfile*
.bundle
.rvmrc
public/assets
config/resque.god
config/travis.yml
config/travis.yml.backup
config/database.yml
config/initializers/localeapp.rb
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
log/*.yml
play/*
tmp/
vendor/htmlunit
*.log
*.rbc
*.dump
.DS_Store
*~
\#*
.rbx/*
.idea/
.rbenv-gemsets
