#outlook a{padding:0;}body{width:100% !important;}.ReadMsgBody{width:100%;}.ExternalClass{width:100%;}body{-webkit-text-size-adjust:none;}body{margin:0;padding:0;}img{border:0;height:auto;line-height:100%;outline:none;text-decoration:none;}table td{border-collapse:collapse;}#backgroundTable{height:100% !important;margin:0;padding:0;width:100% !important;}body,#backgroundTable{ background-color:#FAFAFA;}#templateContainer{ border:1px solid #DDDDDD;}h1,.h1{ color:#202020;display:block;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;}h2,.h2{ color:#202020;display:block;font-family:Arial;font-size:30px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;}h3,.h3{ color:#202020;display:block;font-family:Arial;font-size:26px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;}h4,.h4{ color:#202020;display:block;font-family:Arial;font-size:22px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;}#templatePreheader{ background-color:#FAFAFA;}.preheaderContent div{ color:#505050;font-family:Arial;font-size:10px;line-height:100%;text-align:left;}.preheaderContent div a:link,.preheaderContent div a:visited,.preheaderContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}#templateHeader{ background-color:#FFFFFF;border-bottom:0;}.headerContent{ color:#202020;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle;}.headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}#headerImage{ height:auto;max-width:600px;}#templateContainer,.bodyContent{ background-color:#FFFFFF;}.bodyContent div{ color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left;}.bodyContent div a:link,.bodyContent div a:visited,.bodyContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}.bodyContent img{ display:inline;height:auto;}#templateSidebar{ background-color:#FFFFFF;}.sidebarContent div{ color:#505050;font-family:Arial;font-size:12px;line-height:150%;text-align:left;}.sidebarContent div a:link,.sidebarContent div a:visited,.sidebarContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}.sidebarContent img{ display:inline;height:auto;}.leftColumnContent{ background-color:#FFFFFF;}.leftColumnContent div{ color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left;}.leftColumnContent div a:link,.leftColumnContent div a:visited,.leftColumnContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}.leftColumnContent img{ display:inline;height:auto;}.rightColumnContent{ background-color:#FFFFFF;}.rightColumnContent div{ color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left;}.rightColumnContent div a:link,.rightColumnContent div a:visited,.rightColumnContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}.rightColumnContent img{ display:inline;height:auto;}#templateFooter{ background-color:#FFFFFF;border-top:0;}.footerContent div{ color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:left;}.footerContent div a:link,.footerContent div a:visited,.footerContent div a .yshortcuts{color:#336699;font-weight:normal;text-decoration:underline;}.footerContent img{ display:inline;}#social{ background-color:#FAFAFA;border:0;}#social div{ text-align:center;}#utility{ background-color:#FFFFFF;border:0;}#utility div{ text-align:center;}#monkeyRewards img{ max-width:190px;}

.block-message.error {
  background: #F8DCDA;
  border: 1px solid #F4C8C5;
}

.block-message.success {
  background: #DFF1DF;
  border: 1px solid #BBE2BB;
}

.alert-message.error {
  background-color: #D83A2E;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e4776f), to(#d83a2e));
  background-image: -moz-linear-gradient(#e4776f, #d83a2e);
  background-image: -ms-linear-gradient(#e4776f, #d83a2e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4776f), color-stop(100%, #d83a2e));
  background-image: -webkit-linear-gradient(#e4776f, #d83a2e);
  background-image: -o-linear-gradient(#e4776f, #d83a2e);
  background-image: linear-gradient(#e4776f, #d83a2e);
  border-bottom-color: #B32B21;
}

.alert-message.success {
  background-color: #62BC62;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#97d397), to(#62bc62));
  background-image: -moz-linear-gradient(#97d397, #62bc62);
  background-image: -ms-linear-gradient(#97d397, #62bc62);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97d397), color-stop(100%, #62bc62));
  background-image: -webkit-linear-gradient(#97d397, #62bc62);
  background-image: -o-linear-gradient(#97d397, #62bc62);
  background-image: linear-gradient(#97d397, #62bc62);
  border-bottom-color: #46A546;
}

.block-message {
  margin-bottom: 18px;
  padding: 14px;
  color: #404040;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.alert-message {
  background-color: rgba(0, 0, 0, 0.15);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#15000000')";
  background-color: #E6E6E6;
  margin-bottom: 18px;
  padding: 8px 15px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

