@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

@mixin spinner {
  background: url('/images/spinner.gif') no-repeat;
  width: 16px;
  height: 8px;
  @include centered;
}

@mixin list-base {
  .spinner {
    @include centered;
  }
  > li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    &:nth-child(odd) {
      background: #fafbfc;
    }
  }
  > li:first-child {
    border-top: 1px solid #ddd;
  }
}

.spinner {
  background: url('/images/spinner.gif') no-repeat;
  @include spinner;
  width: 20px;
  height: 20px;
}
