/*
 *= require_self
 */

@import "mixins.css";
@import "compass";

@mixin gradient($from, $to) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image:    -moz-linear-gradient($from, $to);
  background-image:     -ms-linear-gradient($from, $to);
  background-image:      -o-linear-gradient($from, $to);
  background-image:         linear-gradient($from, $to);
}

@media screen and (orientation: portrait){
body { min-height: 420px; }
}
@media screen and (orientation: landscape){
body { min-height: 300px; }
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 120%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  height: 100%;
}

header {
  color: #CCC;
  height: 40px;
  width: 100%;
  top: 0px;
  z-index: 11;
  font-size: 1em;
  line-height: 3em;
  @include gradient(#444, #111);
  @include clearfix;
  display: block;

  h1 {
    width: 73px;
    height: 30px;
    margin: 4px auto;
    text-indent: -9999px;
    background: url(/assets/logo.png) no-repeat;
  }
}

.page {
  min-height: 410px;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #B3B3B3;
  color: #333;
  text-shadow: 0 1px 0 white;
  background: #F0F0F0;
  @include gradient(#EEE, #DDD);

  &.active, &.inactive {
    // -webkit-animation-timing-function: ease-in-out;
    // -webkit-animation-duration: 350ms;
  }

  &.active {
    // -webkit-transform: translateX(0);
    // -webkit-animation-name: slideinfromright;
    display: block;
  }

  &.inactive {
    // -webkit-transform: translateX(100%);
    // -webkit-animation-name: slideouttoleft;
    display: none;
  }
}

@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%)
  }
}

ul.menu {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;

  li {
    display: block;
    width: 100%;
    list-style: none;
    height: 42px;
    background: #EEE;
    @include gradient(#FDFDFD, #EEE);
    border: 1px solid #CCC;
    font-weight: bold;
    color: #444;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: visible;
    text-align: left;
    border-width: 0;
    border-top-width: 1px;

    a {
      text-decoration: none !important;
      color: #2F3E46;
      padding: .7em 15px;
      padding-right: 30px;
      display: block;
    }
  }
}

ul.info {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;

  li {
    display: block;
    width: 100%;
    list-style: none;
    height: 42px;
    background: #EEE;
    @include gradient(#FDFDFD, #EEE);
    border: 1px solid #CCC;
    font-weight: bold;
    color: #444;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: visible;
    text-align: left;
    border-width: 0;
    border-top-width: 1px;
    clear: both;

    label {
      color: #2F3E46;
      padding: .7em 15px;
      padding-right: 30px;
      display: block;
      float: left;
    }

    span {
      color: #2F3E46;
      float: right;
      padding: .7em 15px;
      padding-left: 30px;
      display: block;
    }

    a {
      color: #2F3E46;
    }
  }
}

#repository {
  width: 100%;

  h2 {
    text-align: center;
    a {
      color: #666;
      text-decoration: underline;
    }
  }

  .description {
    text-align: center;
  }
}

.matrix li .status,
#builds li .status {
  padding-left: 20px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline;
}

#build h2 .status,
#repository h2 .status {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

#build.green h2 .status,
.matrix li.green .status
#repository h2 .status.green,
#builds li.green .status {
  background-image: url(/assets/icons/status.green.png);
}

#build.red h2 .status,
.matrix li.red .status,
#repository h2 .status.red,
#builds li.red .status {
  background-image: url(/assets/icons/status.red.png);
}

#build.yellow h2 .status,
.matrix li.yellow .status,
#repository h2 .status.yellow,
#builds li.yellow .status {
  background-image: url(/assets/icons/status.yellow.png);
}

#build {
  width: 100%;

  h2, h3 {
    text-align: center;
  }

  .commit-message {
    white-space: normal;
    min-width: 0;
    margin: 0 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .matrix {
    li a {
      // text-align: center;
      // display: inline;
      // font-size: 1.3em;
      text-align: center;
      text-decoration: underline !important;
    }



    li.green a {
      color: green;
    }

    li.red a {
      color: #C00;
    }
  }
}

.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

#job {
  h2, h3 {
    text-align: center;
  }

  .commit-message, .config {
    white-space: normal;
    min-width: 0;
    margin: 0 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}

.log {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
  clear: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 140%;
  font-size: 90%;
  margin-top: 25px;
  padding: 15px 0;
  color: white;
  background-color: #333;
  @include border-radius(4px);

  p {
    position: relative;
    padding: 0 15px 0 50px;
    margin: 0;
    min-height: 16px;
    &:hover {
      background-color: rgba(255,255,255,.05);
    }
    &.highlight {
      background-color: rgba(255,255,255,.5);
    }
    a {
      position: absolute;
      margin-left: -40px;
      cursor: pointer;
      color: #666;
      text-decoration: underline;
    }
  }

  .fold {
    height: 16px;
    overflow: hidden;
    background: #444 url(/assets/icons/log.fold.closed.2.png) no-repeat 99.5% 2px;
    cursor: pointer;

    &.open {
      height: auto;
      background-image: url(/assets/icons/log.fold.open.2.png);
    }
  }

  /* deansi styles, see javascripts/lib/deansi.js */

  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .underscore {
    /* monochrome displays only according to http://ascii-table.com/ansi-escape-sequences.php */
  }
  .black {
    color: black;
  }
  .red {
    color: red;
  }
  .green {
    color: lime;
  }
  .yellow {
    color: yellow;
  }
  .blue {
    color: blue;
  }
  .magenta {
    color: magenta;
  }
  .cyan {
    color: cyan;
  }
  .white {
    color: white;
  }
  .black.bright {
    color: #999;
  }
  .bg-black {
    background-color: black;
  }
  .bg-red {
    background-color: red;
  }
  .bg-green {
    background-color: lime;
  }
  .bg-yellow {
    background-color: yellow;
  }
  .bg-blue {
    background-color: blue;
  }
  .bg-magenta {
    background-color: magenta;
  }
  .bg-cyan {
    background-color: cyan;
  }
  .bg-white {
    background-color: white;
  }
}
