<div id="about" class="box">
  <h4>Join us and help!</h4>
  <p>Travis is an open, distributed build system for the open source community. Find us at:</p>
  <ul>
    <li>Repository: <a href="http://github.com/travis-ci">Github</a></li>
    <li>Twitter: <a href="http://twitter.com/travisci">@travisci</a></li>
    <li>Mailinglist: <a href="http://groups.google.com/group/travis-ci">travis-ci</a></li>
    <li><a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a></li>
  </ul>
</div>
