<div id="about" class="box">
  <h4><%= t '.join' %></h4>
  <ul>
    <li><%= t '.repository' %>: <a href="http://github.com/travis-ci">Github</a></li>
    <li><%= t '.twitter' %>: <a href="http://twitter.com/travisci">@travisci</a></li>
    <li><%= t '.mailing_list' %>: <a href="http://groups.google.com/group/travis-ci">travis-ci</a></li>
    <li><a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a></li>
  </ul>
</div>
