<div id="left">
  <div id="search_box">
    <!-- input type="text" /-->
  </div>

  <ul class="tabs">
    <li id="tab_recent" class="active">
      <h5><a href="#"><%= t 'layouts.application.recent' %></a></h5>
      <div class="tab"></div>
    </li>
    <% if current_user %>
      <li id="tab_my_repositories" data-github-id="<%= current_user.login %>">
        <h5><a href="#"><%= t 'layouts.application.my_repositories' %></a></h5>
        <div class="tab"></div>
      </li>
    <% end %>
    <li id="tab_search">
      <h5><a href="#"><%= t 'layouts.application.search' %></a></h5>
      <div class="tab"></div>
    </li>
  </ul>
</div>

