<div id="sponsors" class="box">
  <h4>Thank you, sponsors!</h4>
  <p>Special thanks go out to:</p>
  <ul>
    <li><a href="http://avarteq.de">Avarteq</a> for a server for running a build worker.</li>
    <li><a href="http://pusherapp.com">Pusher.app</a> for a "big boy" account for messaging.</li>
    <li><a href="http://postmarkapp.com">Postmark.app</a> for unlimited email delivery.</li>
  </ul>
  <div>
    <%= link_to image_tag('/images/logos/avarteq.png'),  'http://avarteq.de' %>
    <%= link_to image_tag('/images/logos/pusher.png'),   'http://pusherapp.com' %>
    <%= link_to image_tag('/images/logos/postmark.png'), 'http://postmarkapp.com' %>
  </div>
</div>
