<div id="sponsors" class="box">
  <h4>Thank you, sponsors!</h4>
  <p>Special thanks go out to:</p>
  <ul>
    <li><a href="http://enterprise-rails.com">Enterprise Rails</a> for running our build worker boxes.</li>
    <li><a href="http://pusherapp.com">Pusher.app</a> for a "big boy" account for messaging.</li>
    <li><a href="http://postmarkapp.com">Postmark.app</a> for unlimited email delivery.</li>
    <li><a href="http://gk.site5.com/t/393">Site5</a> for running our AMQP broker box.</li>
  </ul>
  <div>
    <%= link_to image_tag('/images/logos/enterprise-rails.png'), 'http://enterprise-rails.com' %>
    <%= link_to image_tag('/images/logos/pusher.png'),   'http://pusherapp.com' %>
    <%= link_to image_tag('/images/logos/postmark.png'), 'http://postmarkapp.com' %>
    <%= link_to image_tag('/images/logos/site5.jpeg'), 'http://gk.site5.com/t/393' %>
  </div>
</div>
