<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <%= stylesheet_link_tag '/stylesheets/mailers/build_mailer' %>
  </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
                <tr>
                        <td align="center" valign="top">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                                <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">

                                                <%= yield :header %>

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                                <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                                <td valign="top" width="400">
                                                <table border="0" cellpadding="0" cellspacing="0" width="400">
                                                        <tr>
                                                        <td valign="top">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="400">
                                                                <tr>
                                                                        <td valign="top" class="bodyContent">

                                                                        <!-- // Begin Module: Standard Content \\ -->
                                                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td valign="top">
                                                                                                            <div>

                                                                                                                                                                                <%= yield %>

                                                                                                            </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <!-- // End Module: Standard Content \\ -->

                                                                    </td>
                                                                </tr>
                                                            </table>
                                                                </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- // Begin Sidebar \\ -->
                                                <td valign="top" width="200" id="templateSidebar">
                                                <table border="0" cellpadding="0" cellspacing="0" width="200">
                                                        <tr>
                                                        <td valign="top" class="sidebarContent">

                                                            <!-- // Begin Module: Social Block with Icons \\ -->
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td valign="top" style="padding-top:10px; padding-right:20px; padding-left:20px;">
                                                                        <table border="0" cellpadding="0" cellspacing="4">
                                                                            <tr>
                                                                                <td align="left" valign="middle" width="16">
                                                                                    <img src="http://travis-ci.org/assets/mail/icon.png" style="margin:0 !important;" />
                                                                                </td>
                                                                                <td align="left" valign="top">
                                                                                    <div>
                                                                                        <a href="http://travis-ci.org/">Travis</a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="left" valign="middle" width="16">
                                                                                    <img src="http://travis-ci.org/assets/mail/github.png" style="margin:0 !important;" />
                                                                                </td>
                                                                                <td align="left" valign="top">
                                                                                    <div>
                                                                                        <a href="https://github.com/travis-ci">Github</a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="left" valign="middle" width="16">
                                                                                    <img src="http://travis-ci.org/assets/mail/twitter.png" style="margin:0 !important;" />
                                                                                </td>
                                                                                <td align="left" valign="top">
                                                                                    <div>
                                                                                        <a href="http://twitter.com/travisci">Twitter</a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // End Module: Social Block with Icons \\ -->

                                                            <!-- // Begin Module: Top Image with Content \\ -->
                                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td valign="top">
                                                                        <img src="http://travis-ci.org/assets/mail/travis.png" style="max-width:160px; margin-bottom:10px;" />
                                                                        <div>
                                                                            <h4 class="h4">Join us!</h4>
                                                                            Travis is an open source, distributed build application. We welcome all suggestions from the community.
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // End Module: Top Image with Content \\ -->

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- // End Sidebar \\ -->
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                                <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->
                                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                                        <tr>
                                                <td valign="top" class="footerContent">

                                                                                                <div>
                                                                    <!-- // Begin Template Header \\ -->
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                                                                        <tr>
                                                                            <td>

                                                                                                                                You can configure recipients for build notifications in your .travis.yml file. See <a href="http://about.travis-ci.org/docs/user/build-configuration/">build configuration</a>.
                                                                                                                                <br><br>
                                                                                                                                The delivery of this notification was kindly sponsored by Postmark. Send transactional email confidently using <a href="http://postmarkapp.com">postmarkapp.com</a>.

                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // End Template Header \\ -->
                                                                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>

